.App {
  text-align: left;
}

.button-div {
  display: block;
  background: #bbb;
  border-radius: 5%;
}

.result p{
  font-size: 30px;
  
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border-radius: 8%;
  transform: translateY(4px);

}

button:hover {
  background: rgb(77, 74, 74);
  color: #ffff;
}

.calculator-body {
  max-width: 500px;
  margin: auto;
}